# Init config
should_warn_about_user_key_override 0
check_for_updates_on_startup 0
use_legacy_keybinds 0

# UI colors
background_color 0 0 0
dark_mode_background_color 0.1 0.1 0.1
dark_mode_contrast 1.0
text_highlight_color 0.5 0.5 1.0
visual_mark_color 0.2 0.0 0.0 0.1
search_highlight_color 0.0 1.0 0.0
link_highlight_color 0.2 0.0 0.8

# Distances
zoom_inc_factor 1.1
vertical_move_amount 1.0
horizontal_move_amount 1.0
move_screen_ratio 0.4

# Misc settings
should_launch_new_window 1
sort_bookmarks_by_location	1
collapsed_toc 0

# Put some pressure on the computer
flat_toc 0
should_draw_unrendered_pages 1
super_fast_search 1
rerender_overview 1
multiline_menus 1
prerender_next_page_presentation 1
create_table_of_contents_if_not_exists 1
max_created_toc_size 4096
