@import url("vars.css");
@import url("accent.css");

:root {
	--tab-block-margin: 0px !important;
	--tab-overflow-clip-margin: 0px !important;

	--toolbarbutton-outer-padding: 0px !important;
	--toolbarbutton-outer-padding-narrow: 0px !important;

	--tab-inner-inline-margin: 0px !important;
	/* --tab-collapsed-width: calc(var(--tab-collapsed-background-width) + 2 * var(--space-medium)) !important; */

	--urlbarView-results-padding: 0px !important;
	--urlbarView-row-gutter: 0px !important;

	--urlbar-container-padding: 0px !important;
	--urlbar-margin-inline: 0px !important;

	--panel-separator-padding-vertical: 0px !important;
	--panel-separator-padding-horizontal: 0px !important;

	--arrowpanel-menuitem-margin-block: 0px !important;
	--arrowpanel-menuitem-margin-inline: 0px !important;

	--panel-subview-body-padding-block: 0px !important;
	--panel-subview-body-padding-inline: 0px !important;

	--urlbar-box-hover-bgcolor: var(--focus-color-global) !important;

	--toolbar-start-end-padding: 0px !important;

	--lwt-accent-color: var(--bgcolor-global) !important;

	--arrowpanel-shadow-margin: 0px !important;

	--sidebar-box-background: var(--bgcolor-global) !important;
}

@layer tokens-foundation {
	:root, :host(.anonymous-content-host) {
		--text-color: var(--fgcolor-global) !important;
		--border-color: var(--accent-color-global) !important;

		/* No rounded borders */
		--border-radius-xsmall: 0 !important;
		--border-radius-small: 0 !important;
		--border-radius-medium: 0 !important;
		--border-radius-large: 0 !important;
		--border-radius-circle: 0 !important;

		--background-color-canvas : var(--bgcolor-global) !important;
		--background-color-box-info : var(--bgcolor-global) !important;
		--background-color-box : var(--bgcolor-global) !important;

		--arrowpanel-background: var(--bgcolor-global) !important;
		--panel-separator-color: var(--accent-color-global) !important;
		--card-border-color: var(--accent-color-global) !important;
	}
}

menupopup, panel {
	--panel-border-radius: 0 !important;
	--menuitem-border-radius: 0 !important;

	--panel-background: var(--alpha-bgcolor-global) !important;
	--panel-border-color: var(--accent-color-global) !important;

	/* --panel-padding-block: 0px !important; */
	--menuitem-icon-fill: var(--fgcolor-global) !important;
	--panel-padding: 0px !important;

	--panel-shadow-margin: 0px !important;
}

.dialogBox {
	background-color: var(--alpha-bgcolor-global) !important;
	border: var(--ui-border-global) !important
}

moz-input-folder, moz-input-search {
	--input-text-background-color: var(--bgcolor-global) !important;
	--border-color-interactive: var(--accent-color-global) !important;
	--input-text-color: var(--fgcolor-global) !important;
}

menuseparator {
	padding-block: 0px !important;
}

input[type="checkbox"] {
	appearance: none !important;
	border: 1px solid var(--accent-color-global) !important;

	&:not(:hover, :checked) {
		background-color: var(--bgcolor-global);
	}

	&:hover {
		background-color: var(--focus-color-global);
	}

	&:checked:not(:hover) {
		background-color: var(--bgcolor-global);
	}

	&:checked {
		background-image: var(--checkmark-global);
		background-repeat: no-repeat;
		background-size: contain;
	}
}
