@-moz-document
url-prefix("https://www.youtube.com/"),
url-prefix("https://music.youtube.com/")
{
	yt-thumbnail-view-model,
	.ytSpecTouchFeedbackShapeHoverEffect,
	.yt-simple-endpoint,
	ytd-guide-entry-renderer,
	yt-interaction,
	.ytCollectionsStackCollectionStack1Large,
	.ytCollectionsStackCollectionStack2,
	.ytmusic-guide-entry-renderer,
	.ytmusic-two-row-item-renderer,
	.yt-img-shadow,
	.ytmusic-responsive-list-item-renderer
	{
		border-radius: 0 !important;
	}

	.ytd-guide-entry-renderer {
		--paper-item-focused-before-border-radius: 0 !important;
	}
}

@-moz-document
url-prefix("https://web.whatsapp.com/") {
	._ap1-, ._amk6 {
		border-radius: 0 !important;
	}

	.xqfj769, .xaejkm2, .x1uuy6ko, .x1gfim23,
	.x91sizk, .x1vva9xg, .x1jfkl46, .x17m9png
	{
		border-start-start-radius: 0 !important;
		border-start-end-radius: 0 !important;
		border-end-start-radius: 0 !important;
		border-end-end-radius: 0 !important;
	}
	
	html {
		--splashscreen-startup-background: var(--bgcolor-global) !important;
		color: var(--fgcolor-global) !important;
	}

	._ak8j, ._ak8o, ._amk4
	{
		color: var(--fgcolor-global) !important;
	}

	#main,
	.x1280gxy, .x6egj2d, .x1h3rtpe,
	._ak9t, ._ak9y, ._ak72
	{
		background-color: var(--bgcolor-global) !important;
		color: var(--fgcolor-global) !important;
	}

	.ak72 {
		background-color: var(--bgcolor-global) !important;
		color: var(--fgcolor-global) !important;
	}

	:not([aria-selected="true"]) > ._ak72:hover {
		outline: 1px solid var(--active-border-color) !important;
		background-color: var(--bgcolor-global) !important;
		color: var(--fgcolor-global) !important;
	}

	:is([aria-selected="true"]) > ._ak72 {
		outline: 1px solid var(--selection-border-color) !important;
		background-color: var(--bgcolor-global) !important;
		color: var(--fgcolor-global) !important;
	}
}
