@import url("common.css");

@media not ((forced-colors) or (-moz-native-theme)) {
	:root:not([lwtheme]) {
		--input-fgcolor: var(--fgcolor-global) !important;
		--input-bgcolor: var(--bgcolor-global) !important;

		--toolbox-textcolor: var(--fgcolor-global) !important;
		--toolbox-bgcolor: var(--bgcolor-global) !important;

		--toolbar-color: var(--fgcolor-global) !important;
		--toolbar-bgcolor: var(--bgcolor-global) !important;

		--button-background-color-hover: var(--focus-color-global) !important;
		--button-background-color-active: var(--accent-color-global) !important;

		--tab-selected-bgcolor: var(--focus-color-global) !important;

		--toolbar-field-focus-background-color: var(--bgcolor-global) !important;

		--urlbarView-separator-color: var(--accent-color-global) !important;
		--urlbarView-highlight-background: var(--accent-color-global) !important;
		--urlbarView-hover-background: var(--focus-color-global) !important;
		--urlbarView-highlight-color: var(--fgcolor-global) !important;

		--arrowpanel-border-color: var(--accent-color-global) !important;
	}
}

tooltip {
	border-radius: 0 !important;
}

menu, menuitem {
	&:where([_moz-menuactive]:not([disabled])) {
		color: var(--fgcolor-global) !important;
		background-color: var(--focus-color-global) !important;
	}
}

.browserContainer {
	background-color: var(--bgcolor-global) !important;
	color: var(--fgcolor-global) !important;
}

