:root {
	--bgcolor-dark: #000;
	--bgcolor-light: #ccc;
	--fgcolor-dark: #fff;
	--fgcolor-light: #000;
	--bgcolor-global: var(--bgcolor-dark);
	--fgcolor-global: var(--fgcolor-dark);

	--selection-border-color: #07f;
	--hover-border-color: #777;
	--active-border-color: #fff;
	--font-ui: "Terminus";
	--border-color-ui-popup: #37c;
	--border-color-ui-generic: #ccc;
	--clickmenu-hover-bgcolor: #33c;
}


