:root {
	--bgcolor-global: light-dark(#fec, #000);
	--fgcolor-global: light-dark(#000, #fff);
	--focus-color-global: light-dark(#baf, #42c);
	--accent-color-global: light-dark(#2b9, #37f);

	--alpha-global: 75%;
	--alpha-overlay-global: 25%;

	--bgalpha-global: var(--alpha-global);
	--accent-alpha-global: var(--alpha-global);
	--focus-alpha-global: var(--alpha-global);

	--accent-alpha-overlay-global: var(--alpha-overlay-global);
	--focus-alpha-overlay-global: var(--alpha-overlay-global);

	--alpha-bgcolor-global: color-mix(in srgb, var(--bgcolor-global) var(--bgalpha-global), transparent);
	--alpha-accent-color-global: color-mix(in srgb, var(--accent-color-global) var(--accent-alpha-global), transparent);
	--alpha-focus-color-global: color-mix(in srgb, var(--focus-color-global) var(--focus-alpha-global), transparent);

	--overlay-accent-color-global: color-mix(in srgb, var(--accent-color-global) var(--accent-alpha-overlay-global), transparent);
	--overlay-focus-color-global: color-mix(in srgb, var(--focus-color-global) var(--focus-alpha-overlay-global), transparent);

	--ui-border-global: 2px solid var(--accent-color-global);


	--checkmark-global-light: url('data:image/svg+xml;utf8,<svg width="11" height="11" viewBox="0 0 11 11" fill="none" xmlns="http://www.w3.org/2000/svg"><g><path fill-rule="evenodd" clip-rule="evenodd" d="M10 0L10 1L5 10 L4 10L3 9L0 6L0 5L2 5L4 8L9 0L10 0Z" fill="black"/></g></svg>');
	--checkmark-global-dark: url('data:image/svg+xml;utf8,<svg width="11" height="11" viewBox="0 0 11 11" fill="none" xmlns="http://www.w3.org/2000/svg"><g><path fill-rule="evenodd" clip-rule="evenodd" d="M10 0L10 1L5 10 L4 10L3 9L0 6L0 5L2 5L4 8L9 0L10 0Z" fill="white"/></g></svg>');

	--checkmark-global: light-dark(var(--checkmark-global-light), var(--checkmark-global-dark));
}
