@-moz-document url-prefix("https://web.whatsapp.com") {
	.xul6ihk.xul6ihk, .xul6ihk.xul6ihk:root,
	.color-refresh, .color-refresh.dark,
	:root
	{
		color-scheme: light dark !important;

		--radius-thumb: 0px !important;
		--radius-app: 0px !important;
		--blur-radius-thumbnail: 0px !important;
		--radius-bubble: 0px !important;
		--radius-compose: 0px !important;
		--command-palette-border-radius: 0px !important;
		--composer-panel-border-radius: 0px !important;
		--x5t84p7: 0px !important;
		--xb871un: 0px !important;
		/* --xkyfeqk: 0px !important; */
		--x1lh8xxe: 0px !important;
		--x3qat37: 0px !important;
		--x14m3oik: 0px !important;
		--x1qa5nmm: 0px !important;
		--x1qxzflc: 0px !important;

		--WDS-surface-default: var(--bgcolor-global) !important;
		--WDS-surface-elevated-default: var(--bgcolor-global) !important;
		--WDS-background-wash-plain: var(--WDS-surface-default) !important;
		--WDS-background-wash-inset: var(--WDS-background-wash-plain) !important;
		--WDS-surface-highlight: color-mix(in srgb, var(--focus-color-global) 50%, transparent) !important;

		--WDS-systems-chat-surface-composer: var(--bgcolor-global) !important;

		--compose-input-border: var(--accent-color-global) !important;
		--WDS-lines-divider: var(--accent-color-global) !important;
		--WDS-lines-outline-deemphasized: color-mix(in srgb, var(--accent-color-global) 50%, transparent) !important;
		--WDS-components-outline-profile-photo: var(--WDS-lines-outline-deemphasized) !important;

		--WDS-systems-bubble-surface-incoming: var(--bgcolor-global) !important;
		--WDS-systems-bubble-surface-system: var(--bgcolor-global) !important;

		--WDS-surface-emphasized: var(--bgcolor-global) !important;
	}

	html#whatsapp-web {
		--splashscreen-startup-background: var(--bgcolor-global) !important;
	}

	#main {
		background-color: var(--bgcolor-global) !important;
		& > header {
			border-bottom: 1px solid var(--WDS-lines-divider) !important;
		}
	}

	.message-in ._amk6,
	.message-in ._am2r ._am2m,
	.x1ew7x2d,
	.x1k43qru,
	.x1n67ipk:hover
	{
		border: 1px solid var(--accent-color-global) !important;
	}

	.x1n67ipk:not(:hover) {
		border: 1px solid transparent !important;
	}

	.message-in ._amk7 {
		color: var(--accent-color-global) !important;
	}

	._ap1-,
	.x91sizk, .x1vva9xg, .x1jfkl46, .x1p0mfcu,
	.xt1g1te, .x7zqoo0, .x1iz9ej4, .x1ga13z8,
	.xal68kn, .x51dqfy, .x1w4cqa3, .x1byqp33,
	.xcgujcq, .x1rsuxf0, .x1igtfuo, .x13up0n2
	{
		border-radius: 0px !important;
		border-start-start-radius : 0px !important;
		border-start-end-radius   : 0px !important;
		border-end-start-radius   : 0px !important;
		border-end-end-radius     : 0px !important;
	}
}
