@-moz-document url-prefix("https://www.youtube.com")
{
	:root {
		color-scheme: light dark !important;
	}

	html {
		--ytd-z-index-masthead: 0 !important;
	}

	ytd-app
	{
		background: var(--bgcolor-global) !important;
		--app-drawer-content-container-background-color: var(--bgcolor-global) !important;
	}

	ytd-tabbed-page-header {
		--yt-lightsource-section1-color: var(--bgcolor-global) !important;
	}

	ytd-masthead,
	ytd-network-status-banner[current-state="OFFLINE"],
	#page-header-container.ytd-tabbed-page-header,
	#tabs-container.ytd-tabbed-page-header,
	ytd-feed-nudge-renderer #content-wrapper.ytd-feed-nudge-renderer
	{
		background-color: var(--bgcolor-global) !important;
	}

	/* searchbox */
	.ytSearchboxComponentInputBox,
	.ytSearchboxComponentSearchButton,
	/* guide (sidebar) buttons border (normal, hover, active, etc) */
	ytd-guide-entry-renderer,
	ytd-mini-guide-entry-renderer,
	:is(
		yt-interaction,
		yt-img-shadow,
		#endpoint.yt-simple-endpoint
	):is(
		.ytd-guide-entry-renderer,
		.ytd-mini-guide-entry-renderer
	),
	/* video thumbnails */
	.ytThumbnailViewModelSmall,
	.ytThumbnailViewModelMedium,
	.ytThumbnailViewModelLarge,
	/* video thumbnail hover effect */
	:is(
		.ytSpecTouchFeedbackShapeThumbnailSizeSmall,
		.ytSpecTouchFeedbackShapeThumbnailSizeMedium,
		.ytSpecTouchFeedbackShapeThumbnailSizeLarge
	) :is(
		.ytSpecTouchFeedbackShapeFill,
		.ytSpecTouchFeedbackShapeHoverEffect,
		.ytSpecTouchFeedbackShapeStroke
	),
	ytd-video-preview #media-container.ytd-video-preview,
	/* popup menus */
	.ytSheetViewModelContextual,

	.ytp-progress-bar-start.ytp-progress-bar-end,
	.ytp-chrome-controls :is(
		.ytp-right-controls,
		.ytp-play-button
	),
	ytd-feed-nudge-renderer #dismissible.ytd-feed-nudge-renderer,
	ytd-thumbnail a.ytd-thumbnail, ytd-thumbnail::before,
	.ytSubThreadConnection, .ytSubThreadContinuation
	{
		border-radius: 0px !important;
	}

	tp-yt-paper-item.ytd-guide-entry-renderer {
		--paper-item-focused-before-border-radius: 0px !important;
	}

	/* make searchbox have same color as background */
	.ytSearchboxComponentInputBox,
	.ytSearchboxComponentSearchButton
	{
		border-color: var(--accent-color-global) !important;
		background-color: var(--bgcolor-global) !important;
	}

	#sections.ytd-guide-renderer>.ytd-guide-renderer
	{
		padding: 0px !important;
		width: 100% !important;
		border-bottom: 1px solid var(--accent-color-global) !important;
	}

	#container.ytd-masthead {
		padding: 0px !important;
	}

	ytd-guide-entry-renderer {
		width: 100% !important;
	}

	ytd-rich-grid-renderer {
		--ytd-rich-grid-gutter-margin: 0px !important;
	}

	#guide {
		border-right: 1px solid var(--accent-color-global) !important;
	}

	#guide-links-primary.ytd-guide-renderer {
		border: none !important;
	}

	#contents.ytd-rich-grid-renderer {
		padding-top: 0px !important;
	}

	.ytContextualSheetLayoutHost {
		background-color: var(--alpha-bgcolor-global) !important;
	}

	tp-yt-iron-dropdown {
		border: 1px solid var(--accent-color-global) !important;
	}

	ytd-guide-section-renderer {
		--paper-item-min-height: 2em !important;
	}
}
